header {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.name_header {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile_menu {
  display: none;
}
.name_website {
  padding: 33px 165px 32px 165px;
  background-color: #e1ede6;
}

.name_Ink_house {
  max-width: 143px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.name_icon {
  max-width: 35px;
}
.name_icon_star {
  display: block;
  width: 100%;
  height: 100%;
}
.name_ink {
  max-width: 100px;
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.name_menu {
  width: 470px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rep_position {
  text-decoration: none;
}
.name_reproduction {
  max-width: 130px;
  list-style-type: none;
}
.name_new_products {
  max-width: 84px;
  list-style-type: none;
}
.name_about_us {
  max-width: 54px;
  list-style-type: none;
}
.name_basket {
  max-width: 22px;
  height: 22px;
  list-style-type: none;
}
.name_icon_basket {
  width: 100%;
  height: 100%;
  display: block;
}
.style_name_button:hover {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  header {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
  .name_header {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_menu {
    display: none;
  }
  .name_website {
    max-width: 768px;
    margin: 0 auto;
    padding: 33px 39px 32px 39px;
    background-color: #e1ede6;
  }

  .name_Ink_house {
    max-width: 143px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .name_icon {
    max-width: 35px;
  }
  .name_icon_star {
    display: block;
    width: 100%;
    height: 100%;
  }
  .name_ink {
    max-width: 100px;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .name_menu {
    width: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rep_position {
    text-decoration: none;
  }
  .name_reproduction {
    max-width: 117px;
    list-style-type: none;
  }
  .name_new_products {
    max-width: 76px;
    list-style-type: none;
  }
  .name_about_us {
    max-width: 49px;
    list-style-type: none;
  }
  .name_basket {
    max-width: 22px;
    height: 22px;
    list-style-type: none;
  }
  .name_icon_basket {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  header {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .container {
    max-width: 576px;
    margin: 0 auto;
    padding: 0;
  }
  .mobile_menu {
    display: none;
  }
  .name_website {
    max-width: 576px;
    padding: 16px 33px;
    margin: 0 auto;
    background-color: #e1ede6;
  }
  .name_header {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name_Ink_house {
    max-width: 143px;
    margin: 16px auto 16px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .name_icon {
    max-width: 35px;
  }
  .name_icon_star {
    display: block;
    width: 100%;
    height: 100%;
  }
  .name_ink {
    max-width: 100px;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .name_menu {
    width: 510px;
    padding: 16px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid #c3d1c6;
  }
  .rep_position {
    text-decoration: none;
  }
  .name_reproduction {
    max-width: 117px;
    list-style-type: none;
  }
  .name_new_products {
    max-width: 76px;
    list-style-type: none;
  }
  .name_about_us {
    max-width: 49px;
    list-style-type: none;
  }
  .name_basket {
    max-width: 22px;
    height: 22px;
    list-style-type: none;
  }
  .name_icon_basket {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media screen and (max-width: 320px) {
  header {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .name_website {
    max-width: 320px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 0;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .name_header {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .name_Ink_house {
    max-width: 143px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .name_icon {
    max-width: 35px;
  }
  .name_icon_star {
    display: block;
    width: 100%;
    height: 100%;
  }
  .name_ink {
    max-width: 100px;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .name_basket {
    max-width: 22px;
    height: 22px;
    list-style-type: none;
  }
  .name_icon_basket {
    width: 100%;
    height: 100%;
    display: block;
  }
  .name_menu {
    display: none;
  }
  .mobile_list {
    display: none;
    width: 117px;
  }
  .mobile_menu {
    max-width: 320px;
    background: #e1ede6;
    display: flex;
    margin: 0 0 0 0;
  }
  #mobile_menu_toggle {
    width: 30px;
    margin: 16px auto 16px 15px;
    position: relative;
  }
  #mobile_menu_toggle a {
    text-decoration: none;
    color: #2c2d35;

    transition: color 0.3s ease;
  }
  .mobile_checkbox {
    position: absolute;
    top: -5%;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .mobile_burger {
    position: absolute;
    top: -18%;
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: #2c2d35;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .mobile_burger:first-child {
    transform-origin: 0% 0%;
  }
  .mobile_burger:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* turn into crossmark */

  .mobile_checkbox:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /* hiding */
  .mobile_checkbox:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /* turn the line in another direction */
  .mobile_checkbox:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .menu_mobile_list {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .mobile_checkbox:checked ~ .mobile_list {
    display: block;
  }
  .mobile_position {
    margin: 25px 0;
    list-style-type: none;
  }
  .mobile_basket_position {
    width: 22px;
    height: 22px;
    margin: 0 0 0 237px;
    align-self: center;
  }
  .mobile_checkbox:checked ~ .mobile_basket_position {
    display: none;
  }
}
