.main {
  max-width: 1440px;
  padding: 0 165px 0 165px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}
.main_page {
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_bird {
  max-width: 540px;
}
.main_picture {
  width: 100%;
  height: 100%;
  display: block;
}
.main_intro {
  max-width: 540px;
  display: flex;
  align-items: center;
}
.main_intro_text {
  max-width: 540px;
  height: 331px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_title {
  max-width: 540px;
  height: 132px;
  word-wrap: break-word;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 66px */
}
.main_ink {
  color: #598d66;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.main_text {
  max-width: 540px;
  margin: 20px 0 60px 0;
  color: #86928b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.main_button {
  max-width: 225px;
  height: 65px;
  padding: 20px 60px;
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border: 1px solid #598d66;
}
@media screen and (max-width: 768px) {
  .main {
    max-width: 768px;
    padding: 0 39px 0 39px;
  }
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }
  .main_page {
    max-width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_bird {
    max-width: 330px;
  }
  .main_picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  .main_intro {
    max-width: 330px;
    display: flex;
    align-items: center;
  }
  .main_intro_text {
    max-width: 330px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_title {
    max-width: 330px;
    height: 80px;
    word-wrap: break-word;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
  }
  .main_ink {
    color: #598d66;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .main_text {
    max-width: 330px;
    margin: 20px 0 40px 0;
    color: #86928b;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }

  .main_button {
    max-width: 225px;
    padding: 20px 60px;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    border: 1px solid #598d66;
  }
}
@media screen and (max-width: 576px) {
  .main {
    max-width: 576px;
    padding: 0 33px 0 33px;
  }
  .container {
    max-width: 576px;
    margin: 0 auto;
    padding: 0;
  }
  .main_page {
    max-width: 576px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_bird {
    max-width: 195px;
  }
  .main_picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  .main_intro {
    max-width: 285px;
    display: flex;
    align-items: center;
  }
  .main_intro_text {
    max-width: 285px;
    height: 239px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_title {
    max-width: 285px;
    height: 80px;
    word-wrap: break-word;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
  }
  .main_ink {
    color: #598d66;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .main_text {
    max-width: 330px;
    margin: 10px 0 10px 0;
    color: #86928b;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }

  .main_button {
    max-width: 178px;
    padding: 10px 20px;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    border: 1px solid #598d66;
  }
}
@media screen and (max-width: 320px) {
  .main {
    max-width: 320px;
    padding: 0;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .main_page {
    max-width: 320px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_bird {
    display: none;
  }
  .main_picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  .main_intro {
    max-width: 290px;
    margin: 0 15px;
    display: flex;
    align-items: center;
  }
  .main_intro_text {
    max-width: 290px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_title {
    max-width: 285px;
    word-wrap: break-word;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 30px */
  }
  .main_ink {
    color: #598d66;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .main_text {
    max-width: 290px;
    margin: 10px 0 10px 0;
    color: #86928b;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }

  .main_button {
    max-width: 154px;
    padding: 10px 20px;
    color: #598d66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: white;
    border: 1px solid #598d66;
  }
}
