.new_collection {
  width: 1440px;
  height: 574px;
  margin: 0 auto;
  background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
    no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collection_title {
  color: #f4f6f5;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  margin: 70px 20px 0 165px;
}

.collection_text {
  width: 540px;
  height: 209px;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin: 0px 20px 20px 165px;
  word-wrap: break-word;
}

.collection_button_text {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #eedb6d;
  display: inline-flex;
  width: 267px;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  margin: 40px 20px 70px 165px;
}

@media screen and (max-width: 768px) {
  .new_collection {
    width: 768px;
    height: 502px;
    margin: 109px 0 0 0;
    background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
      no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection_title {
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 30px */
    margin: 109px 20px 0 39px;
  }
  .collection_tr {
    width: 460px;
    height: 60px;
    margin: 109px 239px 0 39px;
  }
  .name_collection_star {
    width: 60px;
    height: 60px;
  }
  .collection_text {
    width: 690px;
    height: 182px;
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin: 0px 20px 20px 39px;
    word-wrap: break-word;
  }

  .collection_button_text {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #eedb6d;
    display: inline-flex;
    width: 210px;
    height: 60px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    margin: 10px 20px 70px 39px;
  }
}
