.new_collection {
  max-width: 1440px;
  margin: 0 auto;
  background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
    no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collection_title {
  max-width: 521px;
  margin: 70px auto 0 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f4f6f5;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  word-wrap: break-word;
}
.collection_icon {
  max-width: 80px;
}
.name_collection_star {
  width: 100%;
  height: 100%;
  display: block;
}
.collection_ink {
  max-width: 421px;
}
.collection_text {
  max-width: 540px;
  margin: 20px auto 60px 165px;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  word-wrap: break-word;
}

.collection_button {
  max-width: 267px;
  padding: 20px 60px;
  margin: 0 auto 70px 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #eedb6d;
  margin: 40px 20px 70px 165px;
}

@media screen and (max-width: 768px) {
  .new_collection {
    max-width: 768px;
    margin: 0 0;
    background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
      no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection_title {
    max-width: 450px;
    margin: 70px auto 10px 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 30px */
    word-wrap: break-word;
  }
  .collection_icon {
    max-width: 60px;
  }
  .name_collection_star {
    width: 100%;
    height: 100%;
    display: block;
  }
  .collection_ink {
    max-width: 370px;
  }
  .collection_text {
    max-width: 690px;
    margin: 20px auto 30px 39px;
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    word-wrap: break-word;
  }

  .collection_button {
    max-width: 210px;
    padding: 20px 60px;
    margin: 0 auto 70px 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #eedb6d;
  }
}
@media screen and (max-width: 576px) {
  .new_collection {
    max-width: 576px;
    margin: 0 0;
    background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
      no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection_title {
    max-width: 331px;
    margin: 50px auto 21px 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    word-wrap: break-word;
  }
  .collection_icon {
    max-width: 50px;
  }
  .name_collection_star {
    width: 100%;
    height: 100%;
    display: block;
  }
  .collection_ink {
    max-width: 261px;
  }
  .collection_text {
    max-width: 510px;
    margin: 0 auto 20px 33px;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    word-wrap: break-word;
  }

  .collection_button {
    max-width: 190px;
    padding: 10px 30px;
    margin: 0 auto 70px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #eedb6d;
  }
}
@media screen and (max-width: 320px) {
  .new_collection {
    max-width: 320px;
    margin: 0 0;
    background: url(../images/new_collections/photo_2023-08-24_13-51-03.png)
      no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection_title {
    max-width: 290px;
    margin: 50px 15px 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    word-wrap: break-word;
  }
  .collection_icon {
    max-width: 50px;
  }
  .name_collection_star {
    width: 100%;
    height: 100%;
    display: block;
  }
  .collection_ink {
    max-width: 230px;
  }
  .collection_text {
    max-width: 290px;
    margin: 0 15px 20px 15px;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    word-wrap: break-word;
  }

  .collection_button {
    max-width: 290px;
    padding: 10px 30px;
    margin: 0 15px 70px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #eedb6d;
  }
}
