.reproduction {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.reproduction_menu {
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reproduction_title {
  width: 255px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}
.reproduction_buttons {
  width: 428px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rep_button {
  padding: 10px 20px;
  border-radius: 20px;
  background: #d4e8d9;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-style: solid;
  border: none;
}
.rep_button:hover {
  border-radius: 20px;
  background: #376b44;
  color: #f4f6f5;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border: none;
}
.reproduction_cards {
  max-width: 1111px;
  margin: 30px 0 70px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.rep_cards {
  max-width: 350px;
  background: #e1ede6;
}
.card1 {
  max-width: 310px;
  margin: 20px;
}
.rep_picture_card {
    width: 100%;
    height: 100%;
    display: block;
  }
.cards_author {
  color: #86928b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 20px;
}

.cards_title {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 20px;
}

.cards_materials {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 20px 30px 20px;
}
.cards_prize {
  color: #598d66;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 20px 20px 20px;
}

.cards_basket {
  display: flex;
  width: 310px;
  height: 65px;
  margin: 10px 20px 30px 20px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border: 1px solid #598d66;
  background-color: #e1ede6;
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards_basket:hover {
  border: 1px solid #598d66;
  background-color: #e1ede6;
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .reproduction {
    max-width: 768px;
    display: flex;
    flex-direction: column;
  }

  .reproduction_menu {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .reproduction_title {
    width: 194px;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 33px */
  }
  .reproduction_buttons {
    width: 433px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .rep_button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #d4e8d9;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-style: solid;
    border: none;
  }
  .rep_button:hover {
    border-radius: 20px;
    background: #376b44;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
  }
  .reproduction_cards {
    max-width: 690px;
    margin: 30px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .rep_cards {
    max-width: 330px;
    background: #e1ede6;
  }
  .card1 {
    max-width: 290px;
    margin: 20px;
  }
  .rep_picture_card {
    width: 100%;
    height: 100%;
    display: block;
  }
  .cards_author {
    color: #86928b;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px;
  }

  .cards_title {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 20px;
  }

  .cards_materials {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 30px 20px;
  }
  .cards_prize {
    color: #598d66;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 20px 20px;
  }

  .cards_basket {
    display: flex;
    width: 290px;
    height: 65px;
    margin: 10px 20px 30px 20px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cards_basket:hover {
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .reproduction {
    max-width: 576px;
    display: flex;
    flex-direction: column;
  }

  .reproduction_menu {
    max-width: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .reproduction_title {
    width: 155px;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
  }
  .reproduction_buttons {
    width: 408px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .rep_button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #d4e8d9;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-style: solid;
    border: none;
  }
  .rep_button:hover {
    border-radius: 20px;
    background: #376b44;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
  }
  .reproduction_cards {
    max-width: 510px;
    margin: 20px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .rep_cards {
    max-width: 240px;
    background: #e1ede6;
  }
  .card1 {
    max-width: 200px;
    margin: 20px;
  }
  .rep_picture_card {
    width: 100%;
    height: 100%;
    display: block;
  }
  .cards_author {
    color: #86928b;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px;
  }

  .cards_title {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 20px;
  }

  .cards_materials {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 30px 20px;
  }
  .cards_prize {
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 20px 20px;
  }

  .cards_basket {
    display: flex;
    width: 200px;
    height: 65px;
    margin: 10px 20px 30px 20px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cards_basket:hover {
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
  .reproduction {
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

  .reproduction_menu {
    max-width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .reproduction_title {
    max-width: 155px;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
  }
  .reproduction_buttons {
    max-width: 320px;
    overflow: scroll;
    white-space: nowrap;
  }
  .rep_button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #d4e8d9;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-style: solid;
    border: none;
    display: inline-block;
  }
  .rep_button:hover {
    border-radius: 20px;
    background: #376b44;
    color: #f4f6f5;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
  }
  .reproduction_cards {
    max-width: 320px;
    margin: 20px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .rep_cards {
    max-width: 290px;
    background: #e1ede6;
    margin: 0 10px;
  }
  .card1 {
    max-width: 250px;
    height: 250px;
    margin: 20px;
  }
  .rep_picture_card {
    width: 100%;
    height: 100%;
    display: block;
  }
  .cards_author {
    color: #86928b;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px;
  }

  .cards_title {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 20px;
  }

  .cards_materials {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 30px 20px;
  }
  .cards_prize {
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 20px 20px 20px;
  }

  .cards_basket {
    display: flex;
    width: 250px;
    height: 65px;
    margin: 10px 20px 30px 20px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cards_basket:hover {
    border: 1px solid #598d66;
    background-color: #e1ede6;
    color: #598d66;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
}
