@import url(./config.css);
@import url(./header.css);
@import url(./main.css);
@import url(./reproduction.css);
@import url(./new_collection.css);
@import url(./team.css);
@import url(./footer.css);
@import url(../germany_styles.css);
@import url(../england.css);
main {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}


