.team {
  width: 1140px;
  height: auto;
}

.team_about {
  width: 1110px;
  height: 440px;
  margin: 70px 165px 20px 165px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

h2 {
  width: 281px;
  height: 44px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
  margin: 124px 354px 10px 30px;
}
.team_describtion {
  width: 635px;
  color: #2c2d35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  margin: 10px 165px 10px 30px;
}

.team_photos {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 10px 335px 44px 30px;
}

@media screen and (max-width: 768px) {
  .team {
    width: 690px;
    height: 825px;
    margin: 70px 0px;
  }

  .team_about {
    width: 690px;
    height: 825px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .team_image {
    margin: 0 0 0 39px;
  }
  h2 {
    width: 211px;
    height: 33px;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 33px */
    margin: 40px 0 15px 39px;
  }
  .team_describtion {
    width: 690px;
    height: 108px;
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin: 15px 39px 15px 39px;
  }

  .team_photos {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 39px;
  }
}
